body {
  background-color:#e8eddf;
  
}

h2 {
  color: black;
  text-align: center;
}

form{
    width: 350px;
    background: #cfdbd5;
    padding: 20px;
    margin: 80px auto;
    border: 2px solid black;
    box-shadow: 0 0 10px gray;
}
label {
width: 350px;
height: 50%;

}
input{
width: 350px;
height: 50%;

}
button{
   background-color: #008CBA;
   padding: 10px 30px;
  border: none;
}
.center{
  display: flex;
  flex-direction: column; 
  align-items: center;    
}



